<?xml version="1.0" encoding="utf-8"?>
<form>
    <fields>
        <fieldset name="options">
            <field name="date" date-format="YYYY-MM-DD" type="datetime" label="Date" filter="string" class="form-control" admintable="true"/>
            <field name="image" type="media" label="Image" filter="string" class="form-control" />
            <field name="ticket" type="url" label="Ticket Link" filter="url" class="form-control" />
        </fieldset>
    </fields>
</form>
